NEXTAUTH_SECRET=
NEXTAUTH_URL=http://localhost:3000/inner-api/auth

KEYCLOAK_CLIENT_ID=frontend-client
KEYCLOAK_CLIENT_SECRET=ZcVKMpxFpR7DMj30AfjR42G7vfPo6LmP
KEYCLOAK_ISSUER=http://192.168.0.109:8080/realms/Weladan
